body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.orange {
    color: orange;
}


.half-width {
    width: 50%;
    padding-left: 10%;

}

.half-width img {
    width: 70%;
}

.flexable-container {
    display: flex;
}

.link-button {
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orange tomato);
    padding: 10px 40px;
    color: azure;
    font-weight: 700;
    border-radius: 5px;
}

.banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

section {
    margin: 100px;
}

.Dream-Big {
    display: flex;
}

.banner2 {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}



.color-add {
    color: orange;
}


.exprience-item {
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
}

#full-stack {
    border-left: 7px solid blueviolet;
}

#baby-stack {
    border-left: 7px solid blueviolet;
}

.exprience-loaded {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

footer P {
    text-align: center;
}